<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Plantas que crecen en Cádiz</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="list/add">Añadir planta</a>
					
				</li>
				<li class="nav-item">
					{{!-- <a class="nav-link" href="list/deleteall">Borrar planta</a> --}}
					<a class="nav-link" href="#">Borrar planta</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{{!-- 
line 21 y linea 24 hay que generar el lst add y list detleteall en el archivo list router linea 68 --}}